/* SCSS */
/* sass --watch style */
$trans-pink: #F5A9B8;
$trans-blue: #5BCEFA;
$dark-grey: #2D3C42;
$main-font: 'Roboto', sans-serif;

/* GENERAL */
body {
  margin: 0;
  font-family: $main-font;
}
h1 {
  font-weight: 600;
  color: white;
}
a {
  text-decoration: none;
  color: $dark-grey;
}
a:hover, a:focus {
  text-decoration: none;
}
@media (min-width: 0px) {
  .container,
  .sub-container {
    margin:auto;
    padding: 1em 0;
    display: block;
    width: 80%;
  }
}
@media (min-width: 700px) {
  .container,
  .sub-container {
    width: 90%;
  }
}
button {
  color: $dark-grey;
  font-family: $main-font !important;
  font-size: 16px;
  background-color: #F5F9FA;
  border: darken($dark-grey, 25%) solid 1px;
  border-radius: 5px;
  margin: .5em;
  padding: 8px;
}

/* HEADER */
header,
.footer {
  background-color: darken($trans-blue, 30%);
}
.sub-header,
.sub-footer {
  background-color: lighten($trans-pink, 8%);
}
header h2 {
  padding-top: .4em;
}
header img {
  vertical-align: middle;
  height: 2em;
}
@media (min-width: 0px) {
  header {
    padding: 1em 1em 1em;
  }
  header h1 {
    font-size: 3em;
    text-align: center;
  }
  .sub-header h2 {
    font-family: $main-font;
    font-size: 18px;
    text-align: center;
  }
}
@media (min-width: 980px) {
  header {
    padding: 1em 5em 4em;
    text-align: left;
  }
  header h1 {
    font-size: 30px;
    float: left;
  }
  .sub-header h2 {
    font-size: 20px;
    float: right;
  }
}

/* FOOTER */
.footer {
  width: 100%;
  clear: both;
  padding: .5em 0 0;
}
.footer p {
  margin: 0;
}


/* LOADING */
$width: 15px;
$height: 15px;
$bounce_height: 30px;

.wrap {
  height: 4em;
}

.text {
  color: $trans-blue;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  margin-right: .5em;
  height: 37px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: rgba(136,47,125, 1);
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: $width;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
